.container {
  margin: 2rem auto 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
  width: 900px;
  box-shadow: 9px 10px 36px 0px rgb(109, 36, 5);
}

h1{
 text-transform:uppercase;
 text-align: center;
 padding-bottom: 20px;
 color:#da4503
}

body{
  background: linear-gradient(to right, #da4503, #f79913);
}
